
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding

$dark-blue: rgb(0, 55, 108);
$blue: rgb(0, 73, 144);
$light-blue: rgb(0, 125, 195);
$gray: rgb(110, 112, 115);